/* Aula inicial :D */

/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: rgb(209, 209, 209);
    font-family: Arial;
    height: 100vh;
    font-size: 5em;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: rgba(238, 245, 244, 0.979);
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.site-title,
.site-subtitle{
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
  font-size: 2em;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.sobre,
.contato,
.portfolio{
  padding: 2em;
  color: whitesmoke;
  min-height: 100vh;
}

.contato a {
  color: whitesmoke;
  font-size: 1.5em;
}

.contato a:active,
.contato a:hover {
  text-shadow:3px 2px 5px gray;
  transition: 2s;
}

.contato .icons {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.sobre h2,
.contato h2,
.portfolio h2{
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
}



@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
  }
}

@media (min-width: 1000px){
  .sobre,
  .contato,
  .portfolio {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio figure {
  text-align: center;
  margin-bottom: 4em;
  margin-top: 4em;
}

.img-portfolio {
  width: 360px;
  height: 240px;
  object-fit: cover;
  object-position: left;
  transition:0.5s;
  /* arredondar bordar: border-radius: 10px; */
}

.img-portfolio:hover {
  transform: scale(1.5);
}

.sobre p {
  text-indent: 2em;
  text-align: justify;
  margin-bottom: 1.5em;
}

.sobre .avatar {
  float: right;
}

.sobre .img-avatar {
  width: 160px;
  height: 160px;
  margin-left: 2em;
}